@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    src: local('Comfortaa'), local('Comfortaa-Regular'),
        url('../fonts/comfortaa_regular-webfont.woff') format("woff"),
        url('../fonts/comfortaa_regular-webfont.ttf') format("truetype");
}

@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    src: local('Comfortaa Bold'), local('Comfortaa-Bold'),
        url('../fonts/comfortaa_bold-webfont.woff') format("woff"),
        url('../fonts/comfortaa_bold-webfont.ttf') format("truetype");
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans'), local('OpenSans'),
        url('../fonts/opensans-regular-webfont.woff') format("woff"),
        url('../fonts/opensans-regular-webfont.ttf') format("truetype");
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    src: local('Open Sans'), local('OpenSans'),
        url('../fonts/opensans-bold-webfont.woff') format("woff"),
        url('../fonts/opensans-bold-webfont.ttf') format("truetype");
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #979EA5;
    color: #2B3E50;
    font-family: "Open Sans";
}

.warning table {
    background: transparent;
}

.warning table td {
    border: none;
}

.label, .badge {
    color: #2B3E50;
    background-color: #FFFFFF;
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    white-space: nowrap;
    vertical-align: baseline;
    margin: 0 2px; }

.label {
    border-radius: 3px; }

.badge {
    padding-right: 9px;
    padding-left: 9px;
    border-radius: 9px; }

.label.hidden, .badge.hidden {
    display: none; }

.label-primary, .badge-primary {
    color: #FFF;
    background-color: #5679a4; }

.label-important, .label-danger, .badge-important, .badge-danger {
    color: #FFF;
    background-color: #B94A48; }

.label-info, .badge-info {
    color: #FFF;
    background-color: #5bc0de; }

.label-warning, .badge-warning {
    color: #FFF;
    background-color: #EFA948; }

.label-success, .badge-success {
    color: #FFF;
    background-color: #5cb85c; }

.label-inverse, .badge-inverse {
    color: #FFF;
    background-color: #333; }

.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border: 1px solid #fbeed5;
    border-radius: 4px;
    color: #c07711;
    background: #fdf6ec;
    border-color: #fbe5d5; }
.alert h4 {
    margin: 0;
    color: inherit; }
.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 20px; }

.alert-success {
    color: #357935;
    background: #d8eed8;
    border-color: #cce6c7; }

.alert-danger, .alert-error {
    color: #702c2b;
    background: #eacac9;
    border-color: #e3b7bd; }

.alert-info {
    color: #2390b0;
    background: #f0f9fc;
    border-color: #daf6f8; }

.alert-block {
    padding-top: 14px;
    padding-bottom: 14px; }

.alert > p, .alert > ul {
    margin-bottom: 0; }

.alert > p + p {
    margin-top: 5px; }

.alert > .icon-remove {
    position: absolute;
    top: 6px;
    right: 8px;
    font-size: 20px;
    opacity: 0.2;
    line-height: 20px;
    color: black;
    text-decoration: none; }

.alert > .icon-remove:hover, .alert > .icon-remove:focus {
    opacity: 0.4; }

.horizontal_layout {
    position: relative;
    width: auto;
    overflow: hidden;
}

.horizontal_layout > .west_container {
    position: absolute;
    left: 0;
    display: inline-block;
}

.horizontal_layout > .center_container {
    position: absolute;
    overflow: auto;
}

.horizontal_layout > .east_container {
    position: absolute;
    display: inline-block;
}

.horizontal_layout.input {
    margin: 3px;
    overflow: visible;
}

.horizontal_layout.input > .west_container, .horizontal_layout.input > .center_container, .horizontal_layout.input > .east_container {
    overflow: visible;
}

.styled_button {
    font-size: 14px;
    padding: 4px 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    line-height: 20px;
    font-weight: normal;
    display: inline-block;
    margin: 3px;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    cursor: pointer;
    color: #2B3E50;
    border: 1px solid #e6e6e6;
    background-color: #FFFFFF;
    box-sizing: border-box;
    white-space: nowrap; }
.styled_button:hover, .styled_button:active, .styled_button:focus,
.styled_button.disabled {
    color: #2B3E50;
    background-color: #e6e6e6; }

.styled_button:focus, .styled_button:hover {
    z-index: 2; }

.styled_button.open {
    z-index: 111113; }

.styled_button.disabled {
    opacity: 0.65;
    background-image: none;
    cursor: default; }

.styled_button:hover, .styled_button.disabled {
    text-decoration: none; }

.styled_button.plain {
    font-size: inherit;
    line-height: inherit;
    margin-bottom: 0px;
    margin-top: 0px;
    vertical-align: baseline;
    text-shadow: none;
    background: transparent;
    padding: 0;
    border: 0 none transparent;
    border-radius: 0px;
    box-shadow: none;
    color: inherit;
    opacity: 0.7; }
.styled_button.plain:focus, .styled_button.plain:hover,
.styled_button.plain.disabled, .styled_button.plain:active {
    background: transparent;
    border: 0 none transparent; }
.styled_button.plain:focus, .styled_button.plain:hover, .styled_button.plain:active {
    opacity: 1; }
.styled_button.plain.disabled {
    opacity: 0.4; }

.styled_button img.icon {
    margin: 3px;
    vertical-align: middle; }

.styled_button:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.6); }

.styled_button.btn-large, .styled_button.btn-lg {
    font-size: 18px;
    padding: 11px 19px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px; }

.styled_button.btn-small, .styled_button.btn-sm {
    font-size: 12px;
    padding: 2px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }

.styled_button.btn-mini, .styled_button.btn-xs {
    font-size: 11px;
    padding: 0px 6px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }

.btn-group {
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle; }

.btn-group > .styled_button, .pagination > .styled_button {
    margin: 0px; }

.btn-group > .styled_button:not(:first-child),
.pagination > .styled_button:not(:first-child) {
    margin-left: -1px; }

.input-prepend > .west_container > .styled_button {
    margin: 0 -1px 0 0; }

.input-prepend > .west_container > .styled_button, .btn-group > .styled_button,
.pagination > .styled_button {
    border-radius: 0px; }

.input-prepend > .west_container > .styled_button:first-child,
.btn-group > .styled_button:first-child, .pagination > .styled_button:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; }

.input-append > .east_container > .styled_button {
    margin: 0 0 0 -1px; }

.input-append > .east_container > .styled_button {
    border-radius: 0px; }

.input-append > .east_container > .styled_button:last-child,
.pagination > .styled_button:last-child, .btn-group > .styled_button:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; }

.styled_button.btn-primary {
    color: #FFF;
    border: 1px solid #456082;
    background-color: #5679a4; }
.styled_button.btn-primary:hover, .styled_button.btn-primary:active,
.styled_button.btn-primary:focus, .styled_button.btn-primary.disabled {
    color: #FFF;
    background-color: #456082; }

.styled_button.btn-info {
    color: #FFF;
    border: 1px solid #31b0d5;
    background-color: #5bc0de; }
.styled_button.btn-info:hover, .styled_button.btn-info:active,
.styled_button.btn-info:focus, .styled_button.btn-info.disabled {
    color: #FFF;
    background-color: #31b0d5; }

.styled_button.btn-success {
    color: #FFF;
    border: 1px solid #449d44;
    background-color: #5cb85c; }
.styled_button.btn-success:hover, .styled_button.btn-success:active,
.styled_button.btn-success:focus, .styled_button.btn-success.disabled {
    color: #FFF;
    background-color: #449d44; }

.styled_button.btn-warning {
    color: #FFF;
    border: 1px solid #eb9319;
    background-color: #EFA948; }
.styled_button.btn-warning:hover, .styled_button.btn-warning:active,
.styled_button.btn-warning:focus, .styled_button.btn-warning.disabled {
    color: #FFF;
    background-color: #eb9319; }

.styled_button.btn-danger {
    color: #FFF;
    border: 1px solid #953b39;
    background-color: #B94A48; }
.styled_button.btn-danger:hover, .styled_button.btn-danger:active,
.styled_button.btn-danger:focus, .styled_button.btn-danger.disabled {
    color: #FFF;
    background-color: #953b39; }

label.checkbox, label.radio {
    cursor: pointer;
}

.checkbox {
    min-height: 20px;
}

.checkbox input[type="checkbox"] {
    cursor: pointer;
    margin: 2px 6px 2px 2px;
}

label.checkbox .styled_select {
    margin-bottom: 0;
    vertical-align: middle;
}

.se-notebook {
    min-width: 5em;
    min-height: 5em;
    position: relative;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    box-sizing: border-box; }
.se-notebook:-moz-full-screen {
    background-color: #979EA5; }
.se-notebook:-webkit-full-screen {
    background-color: #979EA5; }
.se-notebook:fullscreen {
    background-color: #979EA5; }

.se-notebook.full {
    width: 100%;
    height: 100%; }

.se-notebook .disable-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    background: #E0E0E0;
    opacity: 0.4;
    z-index: 1111111; }

.se-notebook-tabs-wrapper.horizontal_layout {
    position: absolute;
    left: 4px;
    right: 4px;
    font-size: 14px;
    height: 42px;
    line-height: 42px;
    overflow: visible;
    color: #555;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
.se-notebook-tabs-wrapper.horizontal_layout .move_left {
    margin: 0 3px 0 0; }
.se-notebook-tabs-wrapper.horizontal_layout .move_right {
    margin: 0 0 0 3px; }
.se-notebook-tabs-wrapper.horizontal_layout .move_left,
.se-notebook-tabs-wrapper.horizontal_layout .move_right {
    padding: 4px; }

.se-notebook-tabs-wrapper > .east_container {
    white-space: nowrap; }

.se-notebook-tabs-wrapper .move_left.disabled,
.se-notebook-tabs-wrapper .move_right.disabled {
    visibility: hidden; }

.se-notebook-new-tab.disabled {
    display: none; }

.se-notebook-tab-area {
    overflow: hidden;
    white-space: nowrap;
    height: 42px;
    margin: 0;
    padding: 0 12px; }

.se-notebook-tabs-wrapper > .center_container:after {
    overflow: hidden;
    white-space: nowrap;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 1px;
    z-index: 1000;
    pointer-events: none;
    box-shadow: inset 10px 0px 10px -10px #979EA5, inset -10px 0px 10px -10px #979EA5; }

.se-notebook-tab {
    position: relative;
    cursor: pointer;
    display: inline-block;
    background: transparent;
    color: #5679a4;
    box-sizing: border-box;
    height: 41px;
    line-height: 20px;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: transparent;
    vertical-align: top;
    padding: 10px 15px;
    border-radius: 4px 4px 0 0;
    font-size: 14px;
    font-weight: normal;
    min-width: 1ex;
    margin: 0 3px;
    white-space: nowrap; }
.se-notebook-tab:hover {
    border-color: #4E5D6C #4E5D6C transparent #4E5D6C;
    background: #4E5D6C;
    color: #EBEBEB; }
.se-notebook-tab.selected {
    height: 42px;
    background: #979EA5;
    color: #2B3E50;
    border-color: #4E5D6C #4E5D6C transparent #4E5D6C; }
.se-notebook-tab > span {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle; }
.se-notebook-tab > img {
    height: 16px;
    margin: 0 0.5ex 0 0;
    position: relative;
    top: 1px;
    vertical-align: sub; }
.se-notebook-tab > .close_button {
    margin: 0 0 0 6px;
    vertical-align: middle; }

.se-notebook-content-wrapper {
    background: transparent;
    position: absolute;
    overflow: hidden;
    padding: 0;
    top: 41px;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 1px solid #4E5D6C;
    z-index: 1; }

.se-notebook-tab-content {
    padding: 4px 12px;
    background: transparent;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    position: absolute;
    visibility: visible; }

.hidden .se-notebook-tab-content, .se-notebook-tab-content.hidden {
    visibility: hidden;
    height: 0px;
    padding: 0px;
    overflow: hidden; }

.se-notebook-bottom > .se-notebook-content-wrapper {
    top: 0;
    bottom: 41px;
    border-top: none;
    border-bottom: 1px solid #4E5D6C; }

.se-notebook-content-wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    pointer-events: none;
    box-shadow: inset 0px 10px 10px -10px #979EA5, inset 0px -10px 10px -10px #979EA5; }

.se-notebook-bottom > .se-notebook-tabs-wrapper {
    top: auto;
    bottom: 0; }
.se-notebook-bottom > .se-notebook-tabs-wrapper > .center_container:after {
    top: 1px;
    bottom: 0px; }
.se-notebook-bottom > .se-notebook-tabs-wrapper .se-notebook-tab {
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 4px 4px; }
.se-notebook-bottom > .se-notebook-tabs-wrapper .se-notebook-tab.selected,
.se-notebook-bottom > .se-notebook-tabs-wrapper .se-notebook-tab:hover {
    border-color: transparent #4E5D6C #4E5D6C #4E5D6C; }
